<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Galería de fotos con Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
    <script>
        $(document).ready(function(){
            $("#b_cargar").click(function(){
                $("#formulario").attr("action","/upload");
                $("#formulario").submit();
                });
            $("#b_email").click(function(){
                $("#formulario").attr("action","/email");
                $("#formulario").submit();
            });
        });
    </script>
</head>

<body>
    <div id="galeria" class="container">
        <div class="text-center pt-3">
            <h1>Carga de imágenes con Flask</h1>
            <h5>{{t}}</h5>
            <form id="formulario" action="/upload" method="POST" enctype="multipart/form-data">
                <input class="form-control" type="file" name="archivo" accept="image/png, image/jpeg">
                <button class="btn btn-primary mt-2" type="submit" id="b_cargar">CARGAR</button>
                <br/><br/>
                <input class="form-control" type="email" name="email"
                            placeholder="Indique aqui su email para recibir la galeria">
                <button class="btn btn-primary mt-2" type="submit" id="b_email">ENVIAR EMAIL</button>
            </form>
        </div>
        {% if lista[0] %}
        <div class="text-center pt-5">
            <h1>Galería Flask</h1>
        </div>
        <hr>
        <div class="row">
            {% for foto in lista %}
            <div class="col-lg-4 col-sm-4 col-xs-6">
                <img src='static/archivos/{{foto}}' />
                <p>{{foto}}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="text-center pt-5">
            <h1>Galería vacía</h1>
        </div>
        {% endif %}
    </div>
    </div>
</body>
</html>